.pay__container {
  width: 80%;
  margin: 20px auto 0;
}
.pay__title {
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 5px;

  color: #fff;
  text-shadow: 0 0 8px rgb(255, 255, 255);
}

.pay__list {
  list-style: none;
  padding: 0;
}
.pay__item {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 10px;
  background: #0044ff;
  color: #fff;

  cursor: pointer;

  &:nth-child(2n) {
    color: black;
    background: #fff;
  }

  &:hover {
    filter: drop-shadow(-10px 0px 1px #4444dd) drop-shadow(10px 0px 1px #4444dd);
  }
}


.details__text{
    color: black;
}